// Colors
$primary-light: #ff0000;
$primary-dark: #af0404;

$secondary-light: #414141;
$secondary-dark: #252525;

$light-gray-1: #f7f7f7;
$light-gray-2: #eee;

$dark-gray: #777;

$white: #fff;
$black: #000;

$shadow: rgba(#000, .15);

// FONT SIZES
$default: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-y: 8rem;
$gutter-x: 3rem;
