.form {

    &__group {
    
        height: 40rem;
        width: 60rem;
        margin-left: 30rem;
        margin-top: 8rem;
        border-radius: 4px;
        box-shadow: 15px 15px 50px $shadow;
        

        &-items {
            margin-top: 2rem;
        }

        &-btn {
            margin-left: 20rem;
            
        }
    }


    &__input {
        background-color: $secondary-dark;
        color: $white;
        outline: none;
        display: block;
        border-radius: 5px;
        border: none;
        width: 30rem;
        margin-left: 15rem;
        margin-top: 3rem;
        padding: 2rem 3rem;

        &::placeholder {
            // text-align: center;
            color: $white;
        }
    }

    &__btn {
        font-family: inherit;
        padding: 1rem 1rem;
        font-size: 2rem;
        font-weight: 300;
        background-color: $white;
        border-radius: 50px;

        border: 1px solid crimson;
        margin-top: 5rem;

    }

}
