.stories {

    &__img-box {
        width: 25%;
        display: table-cell;
    }

    &__img-person {
        height: 5rem;
        border-radius: 50%;
    }

    &__header {
        width: 74%;
        display: table-cell;
        
        
    }    
}

.author {
    text-align: left;
    margin-right: 4rem;
}